# ignore packaged files
*.7z
*.gz
*.rar
*.tar
*.zip

#ignore wordpress upload folder
/wp-content/uploads
/wp-content/plugins/wordfence/tmp
/wp-content/plugins/wordfence/tmp/configCache.php
/wp-content/wflogs/config.php
/wp-content/exports
/wp-content/ewww
/wp-content/cache
/wp-content/cache/blogs
/wp-content/wflogs
/wp-content/wp-cache-config.php
/wp-content/wfcache/

#ignore wordpress wp-config.php
wp-config.php

#ignore .htaccess
.htaccess
.DS_Store

# ignore node/grunt dependency directories
node_modules/

