body {
  background-color: #d88fac;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed; }
  body.work-detail-body {
    background-color: #eeeeee;
    color: #656565; }

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  -webkit-transition: .2s ease;
  transition: .2s ease; }
  a:hover, a:active, a:focus {
    color: #a5486d; }

p {
  line-height: 2;
  margin-top: 0; }

img {
  width: 100%;
  height: auto;
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }

.wrap {
  margin: 0 5em; }

section {
  min-height: 100%; }

.nicescroll-rails {
  z-index: 999 !important; }

.site-header {
  position: fixed;
  width: 100%;
  z-index: 2; }
  .site-header .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px; }

.site-logo {
  font-size: 24px;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%; }

.navigation-container {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
  text-align: right; }

.navigation li.iterator {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  min-height: 65px;
  min-width: 65px;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  text-align: left; }
  .navigation li.iterator a {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #a5486d; }
  .navigation li.iterator .current-border {
    background-color: transparent; }
  .navigation li.iterator.current a, .navigation li.iterator:hover a, .navigation li.iterator:active a, .navigation li.iterator:focus a {
    color: #fff;
    display: block;
    margin-bottom: 8px;
    font-weight: 900; }
  .navigation li.iterator.current .current-border, .navigation li.iterator:hover .current-border, .navigation li.iterator:active .current-border, .navigation li.iterator:focus .current-border {
    height: 4px;
    width: 30px;
    background-color: #fff; }

.site-main {
  position: relative; }

.transition-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-intro-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-intro-bg {
  width: 100px;
  height: 100px;
  background-color: #d88fac;
  border-radius: 100px;
  position: absolute; }

.logo-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  padding-bottom: 5px;
  padding-left: 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #d88fac;
  border-radius: 100px;
  z-index: 1; }

.scroll-text {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px; }

.scroll-line {
  position: absolute;
  top: -webkit-calc(100vh - 100px);
  top: calc(100vh - 100px);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  height: 100px;
  background-color: #fff; }

.banner-section .wrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.banner-section .banner-container {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.banner-section .banner-logo {
  font-size: 120px;
  font-weight: 600;
  position: relative; }

.banner-section .banner-subtitle {
  font-size: 36px;
  font-weight: 600;
  position: relative; }

.about-section {
  display: none; }
  .about-section .wrap {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-section .section-title {
    color: #a5486d;
    font-size: 80px;
    margin-top: 0; }
  .about-section .about-title-wrap {
    margin-top: 40px; }
  .about-section .about-wrap {
    margin-right: 5vw; }
  .about-section .about-container p {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5; }

.works-section {
  display: none; }
  .works-section .wrap {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .works-section .section-title {
    color: #a5486d;
    font-size: 80px;
    margin-top: 0;
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
  .works-section .works-title-wrap {
    margin-top: 25px; }
  .works-section .works-container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .works-section .works-wrap {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%; }
  .works-section .works-item {
    margin: 40px 0;
    cursor: pointer; }
    .works-section .works-item .works-title {
      font-weight: 600;
      font-size: 48px;
      line-height: 1.5;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      margin: 0;
      display: inline-block; }
      .works-section .works-item .works-title h3 {
        margin: 0;
        padding: 0; }
      .works-section .works-item .works-title:hover, .works-section .works-item .works-title:active, .works-section .works-item .works-title:focus {
        color: #a5486d; }
        .works-section .works-item .works-title:hover .works-border, .works-section .works-item .works-title:active .works-border, .works-section .works-item .works-title:focus .works-border {
          background-color: #a5486d; }
    .works-section .works-item .works-border {
      height: 5px;
      width: 100px;
      background-color: transparent;
      -webkit-transition: .2 ease;
      transition: .2 ease; }

.work-transition {
  position: absolute;
  top: 1500px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  z-index: 3;
  display: none; }

.work-detail-body .navigation li.iterator.current a, .work-detail-body .navigation li.iterator:hover a, .work-detail-body .navigation li.iterator:active a, .work-detail-body .navigation li.iterator:focus a {
  color: #d88fac; }

.work-detail-body .navigation li.iterator.current .current-border, .work-detail-body .navigation li.iterator:hover .current-border, .work-detail-body .navigation li.iterator:active .current-border, .work-detail-body .navigation li.iterator:focus .current-border {
  background-color: #d88fac; }

.work-detail {
  position: absolute;
  z-index: 4;
  top: 1500px;
  background-color: #333;
  height: 100vh;
  display: none; }
  .work-detail .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 80px; }
  .work-detail .work-detail-container {
    width: 100%;
    margin: 60px 5em 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .work-detail .work-detail-title {
    margin: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    font-size: 36px;
    color: #fff; }
  .work-detail .work-detail-content {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .work-detail .detail-content {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  .work-detail .work-label {
    text-transform: lowercase;
    margin-bottom: 20px;
    font-weight: 300; }
  .work-detail .work-detail-list {
    margin-top: 10px;
    margin-bottom: 40px; }
  .work-detail .work-detail-link {
    color: #fff;
    font-weight: 900;
    text-transform: lowercase; }
    .work-detail .work-detail-link:hover, .work-detail .work-detail-link:active, .work-detail .work-detail-link:focus {
      color: #d88fac; }
  .work-detail .work-detail-image img {
    padding-bottom: 80px; }
  .work-detail .work-detail-nav {
    margin: 60px 5em;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .work-detail .work-detail-logo {
    font-size: 24px;
    font-weight: 600;
    margin: 0.67em 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  .work-detail .work-detail-back {
    margin: 0.67em 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    text-align: right; }
  .work-detail .works-back {
    font-weight: 600;
    cursor: pointer; }
    .work-detail .works-back:hover, .work-detail .works-back:active, .work-detail .works-back:focus {
      color: #d88fac; }

.contact-section {
  display: none; }
  .contact-section .wrap {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact-section .section-title {
    color: #a5486d;
    font-size: 80px;
    margin-top: 80px; }
  .contact-section .contact-container {
    font-weight: 600;
    font-size: 48px; }
    .contact-section .contact-container p {
      line-height: 1.5; }
    .contact-section .contact-container a {
      color: #fff; }
      .contact-section .contact-container a:hover, .contact-section .contact-container a:active, .contact-section .contact-container a:focus {
        color: #a5486d; }
  .contact-section .contact-wrap,
  .contact-section .contact-social-wrap {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }

.contact-social li {
  list-style: none;
  display: inline-block;
  margin-right: 70px; }

.contact-social a {
  color: #fff;
  font-size: 30px; }
  .contact-social a:hover, .contact-social a:active, .contact-social a:focus {
    color: #a5486d; }

.error404 {
  background-color: #333; }

.error-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .error-section .section-title {
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 48px;
    opacity: .5; }
  .error-section .home-link {
    font-weight: 600;
    color: #d88fac;
    text-transform: lowercase; }

@media screen and (max-width: 1024px) {
  .banner-section .banner-logo {
    font-size: 72px; }
  .banner-section .banner-subtitle {
    font-size: 24px; }
  .about-section .section-title {
    font-size: 60px; }
  .about-section .about-container p {
    font-size: 36px; }
  .works-section .section-title {
    font-size: 60px; }
  .works-section .section-title,
  .works-section .works-wrap {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .works-section .works-item .works-title {
    font-size: 36px; }
  .work-detail .work-detail-container {
    margin: 40px 0 60px; }
  .work-detail .work-detail-title {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 40px; }
  .work-detail .work-detail-content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .contact-section .section-title {
    font-size: 60px; }
  .contact-section .contact-container {
    font-weight: 600;
    font-size: 36px; } }

@media screen and (max-width: 616px) {
  .wrap {
    margin: 0 40px; }
  .site-logo {
    -webkit-flex-basis: 5%;
        -ms-flex-preferred-size: 5%;
            flex-basis: 5%; }
  .navigation-container {
    -webkit-flex-basis: 95%;
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%; }
  .site-header .wrap {
    margin-top: 40px; }
  .navigation li.iterator {
    min-width: 50px; }
  .banner-section .banner-logo {
    font-size: 60px; }
  .banner-section .banner-subtitle {
    font-size: 18px; }
  .about-section .section-title {
    font-size: 48px; }
  .about-section .about-container p {
    font-size: 24px; }
  .about-section .about-wrap {
    margin-right: 0; }
  .works-section .section-title {
    font-size: 48px; }
  .works-section .section-title,
  .works-section .works-wrap {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .works-section .works-item .works-title {
    font-size: 24px; }
  .work-detail .work-detail-container {
    margin: 40px 0 60px; }
  .work-detail .work-detail-title {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 40px; }
  .work-detail .work-detail-content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .work-detail .work-detail-nav {
    margin: 40px; }
  .contact-section .wrap {
    display: block; }
  .contact-section .section-title {
    font-size: 48px; }
  .contact-section .contact-container {
    font-size: 24px; }
  .contact-section .contact-social-wrap {
    margin-top: 40px; } }

@media screen and (max-width: 505px) {
  .site-header .wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 20px; }
  .site-logo {
    font-size: 18px;
    margin: 0;
    padding: 17px 0 23px; }
  .navigation-container {
    -webkit-flex-basis: 94%;
        -ms-flex-preferred-size: 94%;
            flex-basis: 94%; }
  .navigation li.iterator {
    min-width: 0;
    min-height: 0;
    padding: 20px 10px;
    font-size: 14px; }
  .banner-section .banner-logo {
    font-size: 36px; }
  .banner-section .banner-subtitle {
    font-size: 14px; }
  .about-section .wrap {
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 100px; }
  .about-section .section-title {
    font-size: 36px; }
  .about-section .about-container p {
    font-size: 18px; }
  .works-section .wrap {
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 100px; }
  .works-section .section-title {
    font-size: 36px; }
  .works-section .works-item {
    margin: 20px 0; }
    .works-section .works-item .works-title {
      font-size: 18px; }
  .work-detail .work-detail-logo {
    font-size: 18px;
    margin: 20px 0; }
  .work-detail .works-back {
    font-size: 14px;
    margin: 20px 0; }
  .work-detail .work-detail-container {
    margin: 0 0 60px; }
  .work-detail .work-detail-title {
    font-size: 24px; }
  .work-detail .work-detail-content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    font-size: 14px; }
  .work-detail .work-detail-nav {
    margin: 20px 40px; }
  .work-detail .work-detail-link {
    font-size: 16px; }
  .work-detail .detail-content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .contact-section .wrap {
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 100px; }
  .contact-section .section-title {
    font-size: 36px;
    margin-top: 150px; }
  .contact-section .contact-social li {
    margin-right: 30px; }
  .contact-section .contact-social a {
    font-size: 24px; }
  .contact-section .contact-container {
    font-size: 18px; } }
