//* General Styles

body {
    background-color: $rose1;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;

    &.work-detail-body {
        background-color: #eeeeee;
        color: #656565;
    }
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: $font-primary;
    transition: .2s ease;

    &:hover,
    &:active,
    &:focus {
        color: $rose2;
    }
}

p {
    line-height: 2;
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 5em;
}

section {
    min-height: 100%;
}

.nicescroll-rails {
    z-index: 999 !important;
}

//.site-main {
//    width: 100vw;
//    height: 100vh;
//    overflow-y: scroll;
//    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
//}


//* Header

.site-header {
    position: fixed;
    width: 100%;
    z-index: 2;

    .wrap {
        display: flex;
        margin-top: 60px;
    }
}

.site-logo {
    font-size: 24px;
    flex-basis: 20%;
}


//* Navigation

.navigation-container {
    flex-basis: 80%;
    text-align: right;
}

.navigation {
    li.iterator {
        list-style: none;
        font-size: 18px;
        font-weight: 600;
        min-height: 65px;
        min-width: 65px;
        cursor: pointer;
        display: inline-block;
        padding: 20px;
        text-align: left;

        a {
            transition: .3s ease;
            color: $rose2;
        }

        .current-border {
            background-color: transparent;
        }

        &.current,
        &:hover,
        &:active,
        &:focus {
            a {
                color: #fff;
                display: block;
                margin-bottom: 8px;
                font-weight: 900;
            }

            .current-border {
                height: 4px;
                width: 30px;
                background-color: #fff;
            }
        }
    }
}


//* Transition Section

.site-main {
    position: relative;
}

.transition-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-intro-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-intro-bg {
    width: 100px;
    height: 100px;
    background-color: $rose1;
    border-radius: 100px;
    position: absolute;
}

.logo-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    padding-bottom: 5px;
    padding-left: 3px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: $rose1;
    border-radius: 100px;
    z-index: 1;
}

.scroll-text {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.scroll-line {
    position: absolute;
    top: calc(100vh - 100px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1px;
    height: 100px;
    background-color: #fff;
}

//* Banner Section

.banner-section {

    .wrap {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .banner-container {
        flex-basis: 100%;
    }

    .banner-logo {
        font-size: 120px;
        font-weight: 600;
        position: relative;
    }

    .banner-subtitle {
        font-size: 36px;
        font-weight: 600;
        position: relative;
    }
}


//* About Section

.about-section {
    display: none; 

    .wrap {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .section-title {
        color: $rose2;
        font-size: 80px;
        margin-top: 0;
    }

    .about-title-wrap {
        margin-top: 40px;
    }

    .about-wrap {
        margin-right: 5vw;
    }

    .about-container {

        p {
            font-weight: 600;
            font-size: 48px;
            line-height: 1.5;
        }
    }
}


//* Works Section

.works-section {
    display: none;

    .wrap {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .section-title {
        color: $rose2;
        font-size: 80px;
        margin-top: 0;
        flex-basis: 30%;
    }

    .works-title-wrap {
        margin-top: 25px;
    }

    .works-container {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .works-wrap {
        flex-basis: 70%;
    }

    .works-item {
        margin: 40px 0;
        cursor: pointer;

        .works-title {
            font-weight: 600;
            font-size: 48px;
            line-height: 1.5;
            transition: .3s ease;
            margin: 0;
            display: inline-block;

            h3 {
                margin: 0;
                padding: 0;
            }

            &:hover,
            &:active,
            &:focus {
                color: $rose2;

                .works-border {
                    background-color: $rose2;
                }
            }
        }

        .works-border {
            height: 5px;
            width: 100px;
            background-color: transparent;
            transition: .2 ease;
        }
    }
}

.work-transition {
    position: absolute;
    top: 1500px;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    z-index: 3;
    display: none;
}


//* Work Detail

.work-detail-body {
    .navigation {
        li.iterator {
            &.current,
            &:hover,
            &:active,
            &:focus {
                a {
                    color: $rose1;
                }

                .current-border {
                    background-color: $rose1;
                }
            }
        }
    }
}

.work-detail {
    position: absolute;
    z-index: 4;
    top: 1500px;
    background-color: #333;
    height: 100vh;
    display: none;


    .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 80px;
    }

    .work-detail-container {
        width: 100%;
        margin: 60px 5em 80px;
        display: flex;
        flex-wrap: wrap;
    }

    .work-detail-title {
        margin: 0;
        flex-basis: 50%;
        font-size: 36px;
        color: #fff;
    }

    .work-detail-content {
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .detail-content {
        flex-basis: 50%;
    }

    .work-label {
        text-transform: lowercase;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .work-detail-list {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .work-detail-link {
        color: #fff;
        font-weight: 900;
        text-transform: lowercase;

        &:hover,
        &:active,
        &:focus {
            color: $rose1;
        }
    }

    .work-detail-image img {
        padding-bottom: 80px;
    }

    .work-detail-nav {
        margin: 60px 5em;
        top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .work-detail-logo {
        font-size: 24px;
        font-weight: 600;
        margin: 0.67em 0;
        flex-basis: 50%;
    }

    .work-detail-back {
        margin: 0.67em 0;
        flex-basis: 50%;
        text-align: right;
    }

    .works-back {
        font-weight: 600;
        cursor: pointer; 

        &:hover,
        &:active,
        &:focus {
            color: $rose1;
        }

    }
}


//* Contact Section

.contact-section {    
    display: none;

    .wrap {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .section-title {
        color: $rose2;
        font-size: 80px;
        margin-top: 80px;
    }

    .contact-container {
        font-weight: 600;
        font-size: 48px;

        p {
            line-height: 1.5;
        }

        a {
            color: #fff;

            &:hover,
            &:active,
            &:focus {
                color: $rose2;
            }
        }
    }

    .contact-wrap,
    .contact-social-wrap {
        flex-basis: 100%;
    }
}

.contact-social {
    li {
        list-style: none;
        display: inline-block;
        margin-right: 70px;
    }

    a {
        color: #fff;
        font-size: 30px;

        &:hover,
        &:active,
        &:focus {
            color: $rose2;
        }
    }
}



//* 404 Page

.error404 {
    background-color: #333;
}

.error-section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;

    .section-title {
        margin-top: 100px;
        margin-bottom: 80px;
        font-weight: 600;
        font-size: 48px;
        opacity: .5;
    }

    .home-link {
        font-weight: 600;
        color: $rose1;
        text-transform: lowercase;
    }
}

//* Media Queries

@include mq(tablet-landscape) {
    .banner-section {
        .banner-logo {
            font-size: 72px;
        }

        .banner-subtitle {
            font-size: 24px;
        }
    }

    .about-section {
        .section-title {
            font-size: 60px;
        }

        .about-container p {
            font-size: 36px;
        }
    }

    .works-section {
        .section-title {
            font-size: 60px;
        }

        .section-title,
        .works-wrap {
            flex-basis: 100%;
        }

        .works-item .works-title {
            font-size: 36px;
        }
    }

    .work-detail {
        .work-detail-container {
            margin: 40px 0 60px;
        }

        .work-detail-title {
            flex-basis: 100%;
            margin-bottom: 40px;
        }

        .work-detail-content {
            flex-basis: 100%;
        }
    }

    .contact-section {
        .section-title {
            font-size: 60px;
        }

        .contact-container {
            font-weight: 600;
            font-size: 36px;
        }
    }
}

@include mq('616px') {
    .wrap {
        margin: 0 40px;
    }

    .site-logo {
        flex-basis: 5%;
    }

    .navigation-container {
        flex-basis: 95%;
    }

    .site-header .wrap {
        margin-top: 40px;
    }

    .navigation li.iterator {
        min-width: 50px;
    }

    .banner-section {
        .banner-logo {
            font-size: 60px;
        }

        .banner-subtitle {
            font-size: 18px;
        }
    }

    .about-section {
        .section-title {
            font-size: 48px;
        }

        .about-container p {
            font-size: 24px;
        }

        .about-wrap {
            margin-right: 0;
        }
    }

    .works-section {
        .section-title {
            font-size: 48px;
        }

        .section-title,
        .works-wrap {
            flex-basis: 100%;
        }

        .works-item .works-title {
            font-size: 24px;
        }
    }

    .work-detail {
        .work-detail-container {
            margin: 40px 0 60px;
        }

        .work-detail-title {
            flex-basis: 100%;
            margin-bottom: 40px;
        }

        .work-detail-content {
            flex-basis: 100%;
        }

        .work-detail-nav {
            margin: 40px;
        }
    }

    .contact-section {
        .wrap {
            display: block;
        }
        
        .section-title {
            font-size: 48px;
        }

        .contact-container {
            font-size: 24px;
        }
        
        .contact-social-wrap {
            margin-top: 40px;
        }
    }
}

@include mq('505px') {
    .site-header .wrap {
        flex-wrap: wrap;
        margin-top: 20px;
    } 

    .site-logo {
        font-size: 18px;
        margin: 0;
        padding: 17px 0 23px;
    }

    .navigation-container {
        flex-basis: 94%;
    }

    .navigation li.iterator {
        min-width: 0;
        min-height: 0;
        padding: 20px 10px;
        font-size: 14px;
    }

    .banner-section {

        .banner-logo {
            font-size: 36px;
        }

        .banner-subtitle {
            font-size: 14px;
        }
    }

    .about-section {
        .wrap {
            align-items: start;
            margin-top: 100px;
        }

        .section-title {
            font-size: 36px;
        }

        .about-container p {
            font-size: 18px;
        }
    }

    .works-section {
        .wrap {
            align-items: start;
            margin-top: 100px;
        }

        .section-title {
            font-size: 36px;
        }

        .works-item {
            margin: 20px 0;

            .works-title {
                font-size: 18px;
            }
        }
    }

    .work-detail {
        .work-detail-logo {
            font-size: 18px;
            margin: 20px 0;
        }

        .works-back {
            font-size: 14px;
            margin: 20px 0;
        }

        .work-detail-container {
            margin: 0 0 60px;
        }

        .work-detail-title {
            font-size: 24px;
        }

        .work-detail-content {
            flex-basis: 100%;
            font-size: 14px;
        }

        .work-detail-nav {
            margin: 20px 40px;
        }
        
        .work-detail-link {
            font-size: 16px;
        }

        .detail-content {
            flex-basis: 100%;
        }
    }

    .contact-section {
        .wrap {
            align-items: start;
            margin-top: 100px;
        }

        .section-title {
            font-size: 36px;
            margin-top: 150px;
        }

        .contact-social {
            li {
                margin-right: 30px;
            }

            a {
                font-size: 24px;
            }
        }

        .contact-container {
            font-size: 18px;
        }
    }
}