$brand-primary: #d88fac;
$brand-secondary: #ffffff;
$brand-black: #111111;

$rose1: #d88fac;
$rose2: #a5486d;
$rose3: #853253;

$font-primary: 'Lato', sans-serif;

//* BREAKPOINTS
$breakpoints: (
	laptop-large	: 1920px,
	laptop-medium	: 1440px,
	laptop-small	: 1366px,
	laptop-xsmall   : 1200px,
	tablet-landscape: 1024px,
	tablet-portrait	: 768px,
	mobile-xlarge	: 720px,
	mobile-large	: 425px,
	mobile-medium	: 375px,
	mobile-small	: 320px
);